html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background:transparent;
  font-family: 'Lato', sans-serif;
}

body{
  overflow-x: hidden;
  background-color: #004267;
}

#logo{
  max-width: 400px;
}

.white-text{
  color:white;
}

.center-block{
  text-align: center;
  display:block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Catamaran', sans-serif;
}


.core-li{
  display:inline-block;
  text-align:center;
}
.core-li input{
  box-sizing:border-box;;
  text-align:center;
}

.evaluation-list-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:300px;
  overflow:hidden;
}

/*  EMPLOYEE PANEL */
.close-btn{
  position:absolute;
  right:5px;
  top: 5px;
  font-size:1.25rem;
}
.employee-panel{
  position: absolute;
  height: 250px;
  display: inline-block;
  font-size:0.6rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius:3px;
  background-color: white;
  width:344px;
  transition: all 1s;
  background-color: #F0F0FA;
}


.evaluation-list-row>div>ul{
  padding:0;
}


/* SCORECARD */
.sc-item{
  font-size:0.9rem;
}
.sc-item > div{
  display:inline-block;
}
.sc-score, .sc-weight{
  width: 15%;
}
.sc-name{
  width: 68%;
}
.sc-item input{
  box-sizing: border-box;
  width:100%;
}

.block-input{
  display:block;
  margin: 5px;
  border: none;
  background-color: white;
  padding: 6px;
  width: 250px;
}

.hidden{
  display:none;
}

/*  BOTTOM SECTION */
.bottom-section{
  display: flex;
  justify-content: center;
  background-color: #F0F0FA;
  padding-bottom:50px;
}

/* ADD PANEL */
.add-panel{
  display: inline-block;
  width:400px;
}


/* CORE VALS REMINDER */

.core-vals-reminder{
  box-sizing: border-box;
  width: 350px;
  display: inline-block;
}

.core-vals-reminder li{
  padding: 3px 0;
}

.btn {
  width:230px;
  text-align: center;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 12px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  z-index: 100;
}

.overlay td{
  background-color: white;
  width:100px;
  height:50px;
  text-align:center;
}

.overlay table{
  margin: 200px auto;
}
