.core-li{
  display:inline-block;
  text-align:center;
}
.core-li input{
  box-sizing:border-box;; 
  text-align:center;
}
.evaluation-list-row>div>ul{
  padding:0;
}

.evaluation-list-row > div{
  display:inline-block;
  font-size:0.6rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius:3px;

}

.sc-item{
  font-size:0.9rem;
}
.sc-item > div{
  display:inline-block;
}
.sc-score, .sc-weight{
  width: 15%;
}
.sc-name{
  width: 68%;
}
