html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  background:transparent;
  font-family: 'Lato', sans-serif;
}

body{
  overflow-x: hidden;
  background-color: #004267;
}

#logo{
  max-width: 400px;
}

.white-text{
  color:white;
}

.center-block{
  text-align: center;
  display:block;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Catamaran', sans-serif;
}


.core-li{
  display:inline-block;
  text-align:center;
}
.core-li input{
  box-sizing:border-box;;
  text-align:center;
}

.evaluation-list-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:300px;
  overflow:hidden;
}

/*  EMPLOYEE PANEL */
.close-btn{
  position:absolute;
  right:5px;
  top: 5px;
  font-size:1.25rem;
}
.employee-panel{
  position: absolute;
  min-height: 250px;
  display: inline-block;
  font-size:0.6rem;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius:3px;
  background-color: white;
  min-width:344px;
  transition: all 1s;
  background-color: #F0F0FA;
}


.evaluation-list-row>div>ul{
  padding:0;
}


/* SCORECARD */
.sc-item{
  font-size:0.9rem;
}
.sc-item > div{
  display:inline-block;
}
.sc-score, .sc-weight{
  width: 15%;
}
.sc-name{
  width: 68%;
  max-width: 240px;
}
.sc-item input{
  box-sizing: border-box;
  width:100%;
}

.block-input{
  display:block;
  margin: 5px;
  border: none;
  background-color: white;
  padding: 6px;
  width: 250px;
}

.hidden{
  display:none;
}

/*  BOTTOM SECTION */
.bottom-section{
  display: flex;
  justify-content: center;
  background-color: #F0F0FA;
  padding-bottom:50px;
}

/* ADD PANEL */
.add-panel{
  display: inline-block;
  width:400px;
}


/* CORE VALS REMINDER */

.core-vals-reminder{
  box-sizing: border-box;
  width: 350px;
  display: inline-block;
}

.core-vals-reminder li{
  padding: 3px 0;
}

.btn {
  width:230px;
  text-align: center;
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 12px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.overlay{
  position: absolute;
  top:0;
  left:0;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  z-index: 100;
}

.overlay td{
  background-color: white;
  width:100px;
  height:50px;
  text-align:center;
}

.overlay table{
  margin: 200px auto 0 auto;
}

.overlay > div::after{
  content: "Core Value Fit (horizontal) vs. Effectiveness (vertical)";
  color: white;
  display:inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
/*
.overlay > div::before{
  content: "------------- Effectiveness --------------";
  color: white;
  display:inline-block;
  position: relative;
  transform: rotateZ(-90deg);
}
*/

.overlay table  tr > td:nth-child(3){
  border-right: 3px solid black;
}

.overlay table tr:nth-child(3) td {
  border-bottom: 3px solid black;
}

/* LOGIN FORM ************************************/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.login-page .form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.login-page .form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.login-page .form button:hover,
.login-page .form button:active,
.login-page .form button:focus {
  background: #43A047;
}
.login-page .form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.login-page .form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.login-page .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.login-page .container:before,
.login-page .container:after {
  content: "";
  display: block;
  clear: both;
}
.login-page .container .info {
  margin: 50px auto;
  text-align: center;
}
.login-page .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.login-page .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.login-page .container .info span a {
  color: #000000;
  text-decoration: none;
}
.login-page .container .info span .fa {
  color: #EF3B3A;
}
